.categories-container {
    width: 100%;
    padding: 40px;
    background-color: #f9f9f9;
  }
  
  .categories-header {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
  }
  .categories-header-new {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
    margin-top: 60px;
  }
  
  .categories-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Responsive grid */
    gap: 20px;
    margin-top: 20px;
  }
  
  .category-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s ease-in-out;
  }
  
  .category-card:hover {
    transform: scale(1.05);
  }
  
  .category-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .category-name {
    font-size: 1.2rem;
    margin: 10px 0;
    color: #333;
  }
  